*.class
*.log
logs
tmp

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project
project/target
/out

# Scala-IDE specific
.scala_dependencies
.worksheet

# Cloud9 specific
*~backup-*
.c9revisions
.c9
.git
.svn
.DS_Store
.bzr
.cdv
~.dep
~.dot
~.nib
~.plst
.hg
.pc
*.min.js
.nakignore
/dev

# P4Merge specific
.orig

# Intellij specific
/.idea
/*.iml
/.idea_modules

# Eclipse specific
/.classpath
/.project
/RUNNING_PID
/.settings